<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlybanhangsieuthiBmarsFromchinh.Properties.Settings.Phần_mềm_quản_lý_bán_hàng_Siêu_thị_B_MartConnectionString"
            connectionString="Data Source=DESKTOP-O721KR8;Initial Catalog=&quot;Phần mềm quản lý bán hàng Siêu thị B Mart&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>